.App-header {
  background-color: #5870a0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer p {
  font-size: 15px;
  font-family: fantasy;
}

.App-footer a {
  color: rgb(209, 103, 232);
  font-weight: bold;
}

.App-footer a:hover {
  color: orange;
}
