.WeatherDisplay {
  background-color: #7d94c4;
  border: 2px solid #465984;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 0;
}

form input {
  font-size: 24px;
  border-radius: 10px;
  margin-left: 20px;
}

h2 {
  margin: 0 20px;
}

li {
  list-style: none;
}
